:root {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-gray);
  --color-accent: var(--color-blue);

  --color-white: #fff;
  --color-black: #2d2e32;
  --color-blue: #147efb;
  --color-gray: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* animation */

@keyframes sun {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }
  25% {
    opacity: 1;
    transform: rotate(-30deg);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  75% {
    opacity: 0;
    transform: rotate(90deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg);
  }
}

@keyframes day {
  0% {
    background-color: #b08fcc;
  }
  25% {
    background-color: #b1e1e2;
  }
  50% {
    background-color: #fcd2e2;
  }
  75% {
    background-color: #636888;
  }
  100% {
    background-color: #b08fcc;
  }
}

@keyframes shape {
  0% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  50% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}

@keyframes wave {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }
  80% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Common */
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 6rem 0 4rem;
  text-align: center;
}

.title {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.description {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--color-gray);
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 100;
}

.header.dark {
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.header_logo_title {
  font-size: 1.3rem;
}

.header_menu {
  display: flex;
  gap: 4px;
}

.header_menu_item {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 600;
  display: block;
}

.header_menu_item:hover {
  color: var(--color-accent);
}

.header_menu_item.selected {
  color: var(--color-accent);
}

.header_toggle {
  display: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--color-black);
  position: absolute;
  top: 20px;
  right: 15px;
}

/* Home */

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  overflow: hidden;
}

#home.active {
  animation: day linear 20s infinite;
}

.sun {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -100px;
  transform-origin: center 500px;
  opacity: 0;
}

.sun.active {
  animation: sun linear 20s infinite;
}

.home_avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 3px solid var(--color-primary);
  border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  transition: all 1s ease-out;
  margin-bottom: 2rem;
  z-index: 1;
}

.home_avatar.active {
  animation: shape 8s ease-out infinite;
}

.home_title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  text-align: center;
}

.home_description {
  font-size: 1.3rem;
  color: var(--color-gray);
  margin-bottom: 2rem;
}

.contact_box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.8rem;
}

.home_contact_item {
  margin: 0 15px;
  transition: all 150ms ease-out;
}

.home_contact_item:hover {
  color: var(--color-accent);
}

/* About */
.info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 0;
}

.info_item {
  display: flex;
  flex-direction: column;
  width: 315px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(149, 160, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  opacity: 0;
}

.info_item:nth-child(1).active {
  animation: wave 1.5s ease-in-out forwards;
}

.info_item:nth-child(2).active {
  animation: wave 1.5s ease-in-out 0.25s forwards;
}

.info_item:nth-child(3).active {
  animation: wave 1.5s ease-in-out 0.5s forwards;
}

.info_item:nth-child(4).active {
  animation: wave 1.5s ease-in-out 0.75s forwards;
}

.info_item_category {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.info_item_title {
  font-size: 1rem;
  color: var(--color-accent);
}

.info_item_description {
  font-size: 0.8rem;
  color: var(--color-gray);
}

/* Skills */

.skills_box {
  margin: 2.5rem auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
}

.box_left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_images {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.box_img_text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 12s linear infinite;
}

.box_img_avatar {
  width: 50%;
  height: 50%;
}

.box_right {
  width: 70%;
}

.bar {
  padding: 0.5rem;
}

.bar_bg {
  width: 100%;
  height: 30px;
  background-color: lightgray;
  border-radius: 1rem;
  overflow: hidden;
}

.bar_value {
  width: 0;
  height: 30px;
  background-color: var(--color-accent);
  transition: all 1.5s ease-in-out;
}

.bar_value.html.active {
  width: 80%;
}

.bar_value.css.active {
  width: 80%;
}

.bar_value.javascript.active {
  width: 70%;
}

.bar_value.react.active {
  width: 70%;
}

.bar_value.typescript.active {
  width: 60%;
}

.bar_value.firebase.active {
  width: 60%;
}

.bar_name {
  width: 150px;
  height: 30px;
  color: var(--color-white);
  font-size: 1rem;
  line-height: 30px;
  padding-left: 20px;
  text-align: left;
}

/* Projects */

#projects {
  background-color: whitesmoke;
}

.filters-wrap {
  position: relative;
  display: inline-block;
  margin-top: 2.5rem;
}

.project_filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_item {
  background-color: transparent;
  font-size: 1.2rem;
  margin: 0 1rem;
  color: var(--color-secondary);
  width: 150px;
  height: 28px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

.filter_item:hover {
  color: var(--color-accent);
}

.filter_item.selected {
  color: var(--color-white);
}

.selected-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-accent);
  margin: 0 1rem;
  width: 150px;
  height: 28px;
  transition: all 300ms ease-in-out;
  border-radius: 1rem;
}

.project_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
  transition: all 300ms ease-in-out;
}

.project_list.out {
  opacity: 0;
  transform: scale(0.95) translateY(10px);
}

.project_item {
  width: 390px;
  height: 240px;
  position: relative;
}

.project_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-primary);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 250ms ease-in-out;
}

.project_metadata:hover {
  opacity: 1;
  transform: translateY(0px);
}

.project_skil {
  color: var(--color-accent);
  font-weight: 300;
}

.project_btn {
  width: 170px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-white);
  margin: 2rem auto 0;
  padding: 8px 0;
  transition: all 150ms ease-in-out;
}

.project_btn:hover {
  color: var(--color-white);
  background-color: var(--color-accent);
}

/* Contact */
#contact {
  position: relative;
  width: 100%;
  padding: 6rem 0 4rem;
  text-align: center;
}

.contact_mail {
  margin-top: 1rem;
  color: gray;
}

.contact_right {
  color: gray;
}

/* Arrow Button */
.arrow_btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  box-shadow: rgba(149, 160, 165, 0.2) 0px 8px 24px;
}

.arrow_icon {
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.arrow_btn_up {
  box-shadow: rgba(149, 160, 165, 0.2) 0px 8px 24px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 20px;
}

/* Media Query */
@media (max-width: 1280px) {
  .section {
    height: 100%;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }

  .info_item {
    height: 225px;
  }

  .about_man {
    display: none;
  }

  .skills_box {
    flex-direction: column;
    margin: 1rem auto;
  }

  .box_left {
    width: 100%;
    margin: 0.5rem auto 1rem;
  }

  .project_list {
    flex-direction: column;
    margin: 2.5rem 0;
  }
}

@media (max-width: 640px) {
  .section {
    padding: 5rem 15px;
  }

  .description {
    font-size: 0.8rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
    padding: 15px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  }

  .header_toggle {
    display: block;
  }

  .header_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 1rem;
  }

  .header_menu.open {
    display: flex;
  }

  .header_nav {
    width: 100%;
  }

  #home {
    padding: 0 15px;
    padding-top: 8rem;
  }

  .sun {
    margin-left: -80px;
    transform-origin: center 300px;
  }

  .home_avatar {
    width: 280px;
    height: 280px;
  }

  .home_title {
    font-size: 2rem;
  }

  .bar_name {
    width: 100px;
    font-size: 0.8rem;
  }

  .project_item {
    width: 100%;
  }
}
